*.aux
*.brf
*.lbl
*.log
*.blg
*.bbl
*.swp
*-eps-converted-to.pdf
*.out
thesis*.pdf
dissertation*.pdf
*.toc
*.idx
*.ind
*.lof
*.lot
*.sok
_minted-thesis/
_minted-dissertation/
*pyg
__pycache__/
.DS_Store
*.bcf
